<script setup lang="ts">
import { ref } from 'vue'
const showCash = ref(false)
const showImage = ref(false)
const toggleButton = (button: string) => {
  // ตรวจสอบปุ่มที่ถูกกด
  if (button === 'showCash') {
    showCash.value = true
    showImage.value = false
  } else if (button === 'showImage') {
    showImage.value = true
    showCash.value = false
  }
}
</script>

<template>
  <div>
    <v-app-bar :elevation="2" style="background-color: #7991b6">
      <v-app-bar-title>
        <h2 style="font-size: 25px; color: white">การชำระเงิน</h2>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="auto">
          <v-col>
            <v-card class="mt-5" elevation="8" width="600" height="90" rounded="lg" color="#B6ADD7">
              <v-card-title class="text-center" style="color: #000000; margin-top: 20px"
                ><h2>เลือกประเภทการชำระเงิน</h2></v-card-title
              >
            </v-card></v-col
          >
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="auto">
          <v-btn
            class="mt-10"
            :color="showCash ? '#C9C9C9' : '#7991B6'"
            size="x-large"
            height="100"
            min-width="200"
            @click="toggleButton('showCash')"
          >
            <v-icon icon="mdi mdi-cash" start></v-icon>
            ชำระด้วยเงินสด
          </v-btn>
        </v-col>
        <v-col cols="auto">
          <v-btn
            class="mt-10"
            :color="showImage ? '#C9C9C9' : '#7991B6'"
            size="x-large"
            height="100"
            min-width="200"
            @click="toggleButton('showImage')"
          >
            <v-icon icon="mdi mdi-line-scan" start></v-icon>
            QR CODE
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card width="400" height="500" v-if="showImage" class="mx-auto">
            <v-toolbar color="#3E5EA3"></v-toolbar>
            <v-img src="Qr1.jpg" max-width="450" max-height="450"></v-img>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card width="600" height="240" v-if="showCash" class="mx-auto" fluid variant="outlined">
            <v-card-text>
              <v-row style="font-size: 20px" class="mt-1" justify="center">
                <v-col class="mt-3" cols="12" sm="3"><p>รวมทั้งหมด</p></v-col>
                <v-col cols="12" sm="4"
                  ><v-text-field
                    style="height: 40px"
                    density="compact"
                    variant="solo"
                    clearable
                  ></v-text-field
                ></v-col>
                <v-col cols="12" sm="1"></v-col>
                <v-col class="mt-3" cols="12" sm="2"><p>บาท</p></v-col>
              </v-row>
              <v-row style="font-size: 20px" justify="center">
                <v-col class="mt-3" cols="12" sm="3"><p>รับเงินมา</p></v-col>
                <v-col cols="12" sm="4"
                  ><v-text-field
                    style="height: 40px"
                    density="compact"
                    variant="solo"
                    clearable
                  ></v-text-field
                ></v-col>
                <v-col cols="12" sm="1"></v-col>
                <v-col class="mt-3" cols="12" sm="2"><p>บาท</p></v-col>
              </v-row>
              <v-row style="font-size: 20px" justify="center">
                <v-col class="mt-3" cols="12" sm="3"><p>เงินทอน</p></v-col>
                <v-col cols="12" sm="4"
                  ><v-text-field
                    style="height: 40px"
                    density="compact"
                    variant="solo"
                    clearable
                  ></v-text-field
                ></v-col>
                <v-col cols="12" sm="1"></v-col>
                <v-col class="mt-3" cols="12" sm="2"><p>บาท</p></v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <!-- <v-row align="center" justify="center">
        <v-col cols="auto">        
          <v-img
          src="https://media.discordapp.net/attachments/992671856505131078/1208035285594808340/logo.png?ex=65e1d188&is=65cf5c88&hm=10554db058019be18a9831a1a01295e9c5f17f67d7098bc2d238af5c91d95579&=&format=webp&quality=lossless&width=238&height=238"
          style="background-color: #75a4d0; margin: 0 auto"
          width="400"
          height="400"
          cover
        ></v-img></v-col>
      </v-row> -->
      <v-row class="d-flex justify-end">
        <v-col cols="12" sm="2">
          <v-btn
            style="background-color: #8ea690; font-size: 18px"
            to="/empReceiptPayment"
            class="ma-5 ml-3 font-weight-bold"
            block
            >จ่ายเงิน</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
