<script setup lang="ts">
import { useDispenseStore } from '@/stores/dispense'
import { onMounted } from 'vue'

const dispenseStore = useDispenseStore()
onMounted(async () => {
  await dispenseStore.getDispenses()
  dispenseStore.getDispenses()
})
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">การจ่ายยา</h2>
    </v-app-bar-title>
  </v-app-bar>

  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12" sm="4">
          <v-text-field
            density="compact"
            variant="solo"
            label="Search"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-btn color="#3E5EA3"> ค้นหา </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>

  <v-row>
    <v-col>
      <v-table style="width: 200vh; overflow: auto" fluid fixed-header>
        <thead style="background-color: #b6add7">
          <tr align="center" justify="center" style="font-size: 13px" class="font-weight-bold">
            <td>ลำดับ</td>
            <td>วันที่</td>
            <td>ชื่อ-นามสกุล</td>
            <td>ชื่อยา</td>
            <td>จำนวนรวมยาต่อรายการ</td>
            <td>ราคายา</td>
            <td>พนักงาน</td>
            <td>แพทย์ผู้รับผิดชอบ</td>
          </tr>
        </thead>
        <tbody>
          <tr
            align="center"
            justify="center"
            style="font-size: 11px"
            v-for="item of dispenseStore.dispenses"
            :key="item.dispensing_id"
          >
            <td>{{ item.dispensing_id }}</td>
            <td>{{ item.dispensing_date }}</td>
            <td>{{ item.dispensing_patien }}</td>
            <td>{{ item.dispensing_medicine }}</td>
            <td>{{ item.dispensing_qty }}</td>
            <td>{{ item.dispensing_price }}</td>
            <td>{{ item.dispensing_counter }}</td>
            <td>{{ item.dispensing_doctor }}</td>
          </tr>
          <!-- <tr align="center" justify="center">
            <td>2</td>
            <td>15/08/2566</td>
            <td>วราทิพย์ พัฒนนิธิศักดิ์</td>
            <td>-</td>
            <td>0</td>
            <td>0</td>
            <td>สมใจ ใจสั่งยา</td>
            <td>พญ.วราพร โคกศรี</td>
          </tr>
          <tr align="center" justify="center">
            <td>1</td>
            <td>15/08/2566</td>
            <td>วราพร โคกศรี</td>
            <td>-</td>
            <td>0</td>
            <td>0</td>
            <td>สมใจ ใจสั่งยา</td>
            <td>พญ.วราพร โคกศรี</td>
          </tr> -->
        </tbody>
      </v-table>
    </v-col>
  </v-row>
</template>
