<script setup lang="ts"></script>

<template>
  <div>
    <v-app-bar :elevation="2" style="background-color: #7991b6">
      <v-app-bar-title>
        <h2 style="font-size: 25px; color: white">ประวัติการชำระเงิน</h2>
      </v-app-bar-title>
      <div class="d-flex justify-space-around">
        <row><v-icon icon="mdi-account-circle" size="x-large" class="mt-1"></v-icon></row>

        <row>
          <p class="text-center" style="color: white">สมใจ สั่งมา</p>
          <p class="text-left" style="color: white">ตำแหน่ง : พนักงาน</p>
        </row>
      </div>
    </v-app-bar>
    <v-form>
      <v-container>
        <v-row>
          <v-col cols="12" sm="4">
            <v-text-field
              density="compact"
              variant="solo"
              label="Search"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
            ></v-text-field>
          </v-col>

          <v-col cols="12" sm="6">
            <v-btn color="#3E5EA3"> ค้นหา </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>

    <v-table>
      <thead>
        <tr style="background-color: #efa5ba">
          <th class="text-left">ลำดับ</th>
          <th class="text-left">วันที่</th>
          <th class="text-left">เวลา</th>
          <th class="text-left">ชื่อ-นามสกุล</th>
          <th class="text-left">การแพ้ยา</th>
          <th class="text-left">ประเภทการรักษา</th>
          <th class="text-left">ยาที่สั่ง</th>
          <th class="text-left">แพทย์ผู้รับผิดชอบ</th>
        </tr>

        <tr>
          <th class="text-left">2</th>
          <th class="text-left">15/08/2566</th>
          <th class="text-left">11:30</th>
          <th class="text-left">วราทิพย์ พัฒนนิธิศักดิ์</th>
          <th class="text-left">ไม่มี</th>
          <th class="text-left">อุดฟัน</th>
          <th class="text-left">-</th>
          <th class="text-left">พญ.วราพร โคกศรี</th>
        </tr>

        <tr>
          <th class="text-left">1</th>
          <th class="text-left">15/08/2566</th>
          <th class="text-left">10:00</th>
          <th class="text-left">วราพร โคกศรี</th>
          <th class="text-left">ไม่มี</th>
          <th class="text-left">เคลียร์ช่องปาก</th>
          <th class="text-left">-</th>
          <th class="text-left">พญ.วราพร โคกศรี</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>
