<script setup lang="ts">
import { ref } from 'vue'

const confirmButtonColor = ref('#8ea690')
const cancelButtonColor = ref('#f58a97')
const buttonDisabled = ref(false)
const colorTextInButtom = ref('#000000')

const isActive1 = ref(false)
const isActive2 = ref(false)

const buttonColor = ref('#f9df87')
const showText = ref('รอยืนยัน')
const confirmBooking = () => {
  confirmButtonColor.value = 'grey'
  cancelButtonColor.value = 'grey'
  isActive1.value = false
  showText.value = 'จองสำเร็จ'
  buttonColor.value = '#8ea690'
  buttonDisabled.value = true
  colorTextInButtom.value = 'white'
}
const cancelBooking = () => {
  confirmButtonColor.value = 'grey'
  cancelButtonColor.value = 'grey'
  isActive2.value = false
  showText.value = 'จองไม่สำเร็จ'
  buttonColor.value = '#f58a97'
  buttonDisabled.value = true
  colorTextInButtom.value = 'white'
}
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">จัดการจองคิวออนไลน์</h2>
    </v-app-bar-title>
    <div class="d-flex justify-space-around">
      <row><v-icon icon="mdi-account-circle" size="x-large" class="mt-1"></v-icon></row>

      <row>
        <p class="text-center" style="color: white">สมใจ สั่งมา</p>
        <p class="text-left" style="color: white">ตำแหน่ง : พนักงาน</p>
      </row>
    </div>
  </v-app-bar>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12" sm="4">
          <v-text-field
            density="compact"
            variant="solo"
            label="Search"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="2">
          <v-btn color="#3E5EA3"> ค้นหา </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
  <v-table>
    <thead>
      <tr style="background-color: #75a4d0">
        <th class="text-left">ลำดับ</th>
        <th class="text-left">วันที่</th>
        <th class="text-left">เวลา</th>
        <th class="text-left">ชื่อ-นามสกุล</th>
        <th class="text-left">แพทย์ผู้รับผิดชอบ</th>
        <th class="text-left">ประเภทการรักษา</th>
        <th class="text-left">ยืนยันการจอง</th>
        <th class="text-left">สถานะ</th>
      </tr>
      <tr>
        <th class="text-left">1</th>
        <th class="text-left">15/08/2566</th>
        <th class="text-left">10:00</th>
        <th class="text-left">วราพร โคกศรี</th>
        <th class="text-left">นพ.ปีโป้ เจลลี่</th>
        <th class="text-left">ตรวจช่องปาก</th>
        <th class="text-left">
          <v-row>
            <v-col>
              <v-dialog v-model="isActive1" transition="dialog-top-transition" width="auto">
                <template v-slot:activator="{ props }">
                  <v-btn :color="confirmButtonColor" v-bind="props" :disabled="buttonDisabled"
                    >ยืนยัน1</v-btn
                  >
                </template>
                <template v-slot:default="{ isActive }">
                  <v-card>
                    <v-toolbar
                      width="50"
                      height="50"
                      style="background-color: #3e5ea3; color: white"
                      title="ยืนยันการจอง"
                    ></v-toolbar>
                    <v-card-text>
                      <div class="text-h5 pa-4">ต้องการยืนยันการจองใช่หรือไม่ ?</div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-col cols="12" sm="3">
                        <v-btn
                          variant="text"
                          @click="confirmBooking"
                          style="background-color: #8ea690"
                          >ยืนยัน2</v-btn
                        ></v-col
                      >

                      <v-col cols="12" sm="6">
                        <v-btn
                          variant="text"
                          @click="isActive.value = false"
                          style="background-color: #f58a97"
                          >ยกเลิก2</v-btn
                        >
                      </v-col>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
            <v-col>
              <v-dialog v-model="isActive2" transition="dialog-top-transition" width="auto">
                <template v-slot:activator="{ props }">
                  <v-btn :color="cancelButtonColor" v-bind="props" :disabled="buttonDisabled"
                    >ยกเลิก1</v-btn
                  >
                </template>
                <template v-slot:default="{ isActive }">
                  <v-card>
                    <v-toolbar
                      width="50"
                      height="50"
                      style="background-color: #3e5ea3; color: white"
                      title="ยกเลิกการจอง"
                    ></v-toolbar>
                    <v-card-text>
                      <div class="text-h5 pa-4">ต้องการยกเลิกการจองใช่หรือไม่ ?</div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-col cols="12" sm="3">
                        <v-btn
                          variant="text"
                          @click="cancelBooking"
                          style="background-color: #8ea690"
                          >ยืนยัน3</v-btn
                        ></v-col
                      >

                      <v-col cols="12" sm="6">
                        <v-btn
                          variant="text"
                          @click="isActive.value = false"
                          style="background-color: #f58a97"
                          >ยกเลิก3</v-btn
                        >
                      </v-col>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
          </v-row>
        </th>
        <th class="text-center">
          <!-- <v-btn :color="isBookingSuccess ? '#f9df87' : '#8ea690'">
           {{ isBookingSuccess ? 'รอยืนยัน' : 'จองสำเร็จ' }}
          </v-btn>
          <v-btn :color="isBookingUnsuccess ? '#f9df87' : '#f58a97' ">
            {{ isBookingUnsuccess ? 'รอยืนยัน' : 'จองไม่สำเร็จ' }}
          </v-btn> -->
          <v-btn :disabled="true" flat :style="{ background: buttonColor }"
            ><span :style="{ color: colorTextInButtom }"> {{ showText }}</span>
          </v-btn>
        </th>
      </tr>
    </thead>
  </v-table>
</template>
