<script setup lang="ts"></script>

<template>
  <div>
    <v-app-bar :elevation="2" style="background-color: #7991b6">
      <v-app-bar-title>
        <h2 style="font-size: 25px; color: white">การชำระเงิน</h2>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <v-form>
        <v-row>
          <v-col cols="12" sm="4">
            <v-combobox
              label="เลขบัตรประชาชน"
              :items="[
                '1234567891594',
                '369852147369',
                '4785128549658',
                '5578412369854',
                '7849512368547',
                '748152698574'
              ]"
              variant="solo"
              density="compact"
            ></v-combobox>
          </v-col>
          <v-col cols="12" sm="4">
            <p>ชื่อ-นามสกุล : นางสาว วราทิพย์ พัฒนนิธิศักดิ์</p>
          </v-col>
          <v-col cols="12" sm="2"><p>อายุ : 22 ปี</p></v-col>
        </v-row>
        <v-row justify="center" style="margin-top: 1px">
          <v-col> <p>การแพ้ยำ : -</p></v-col>
          <v-col>
            <p>โรคประจำตัว : -</p>
          </v-col>
          <v-col>
            <p>ประเภทการรักษา :</p>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
    <v-container style="background-color: #7991b6" fluid>
      <v-row>
        <v-col>
          <v-table style="height: 300px; height: 30vh; overflow: auto" fluid fixed-header>
            <thead style="background-color: #6e7781">
              <tr align="center" justify="center">
                <td>ลำดับ</td>
                <td>รหัส</td>
                <td>บริการ/X-Rey/ยา</td>
                <td>ทันตแพทย์</td>
                <td>ค่ารักษา</td>
                <td>ลด(%)</td>
                <td>รวม</td>
              </tr>
            </thead>
            <tbody>
              <tr align="center" justify="center">
                <td>1</td>
                <td>01-02</td>
                <td>ขูดหินปูน</td>
                <td>พญ. วราพร โคกศรี</td>
                <td>700</td>
                <td>-</td>
                <td>700</td>
              </tr>

              <tr align="center" justify="center">
                <td>2</td>
                <td>01-05</td>
                <td>อุดฟัน</td>
                <td>พญ. วราพร โคกศรี</td>
                <td>500</td>
                <td>-</td>
                <td>500</td>
              </tr>

              <tr align="center" justify="center">
                <td>3</td>
                <td>-</td>
                <td>ยาพาราเซตามอล</td>
                <td>พญ. วราพร โคกศรี</td>
                <td>50</td>
                <td>-</td>
                <td>50</td>
              </tr>

              <tr align="center" justify="center">
                <td>4</td>
                <td>-</td>
                <td>ยาแก้อักเสบ</td>
                <td>พญ. วราพร โคกศรี</td>
                <td>50</td>
                <td>-</td>
                <td>50</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row justify="center" class="mt-1">
        <v-col cols="12" sm="3" class="ml-3">
          <v-combobox
            label="รหัส"
            :items="['01-01', '01-02', '01-03', '01-04', '01-05', '01-06']"
            variant="solo"
          ></v-combobox>
        </v-col>

        <v-col cols="12" sm="3">
          <v-combobox
            label="บริการ / X - rey / ยา "
            :items="['อุดฟัน', 'ถอนฟัน', 'ขูดหินปูน', 'จัดฟัน']"
            variant="solo"
          ></v-combobox>
        </v-col>
        <v-col cols="12" sm="3">
          <v-combobox
            label="ทันตแพทย์"
            :items="['พญ.วราพร โคกศรี', 'พญ.นลินทิพย์ หอมคลฑา']"
            variant="solo"
          ></v-combobox>
        </v-col>
        <v-col cols="12" sm="1" class="mt-2">
          <v-btn density="comfortable" icon="mdi-plus" color="#4CAF50"></v-btn
          ><v-btn density="comfortable" icon="mdi-close" color="#F14668" class="ml-2"></v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="12" sm="5">
          <h4>การรักษา :</h4>
          <v-table style="width: 70vh; height: 20vh; overflow: auto" fluid fixed-header>
            <thead style="background-color: #efa5ba">
              <tr align="center" justify="center">
                <td>รหัส</td>
                <td>บริการ</td>
                <td>จำนวน</td>
                <td>ราคา</td>
              </tr>
            </thead>
            <tbody>
              <tr align="center" justify="center">
                <td>01-02</td>
                <td>ขูดหินปูน</td>
                <td>1</td>
                <td>700.00</td>
              </tr>
            </tbody>
            <tbody>
              <tr align="center" justify="center">
                <td>01-05</td>
                <td>อุดฟัน</td>
                <td>1</td>
                <td>500.00</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>

        <v-col cols="12" sm="5">
          <h4>การจ่ายยา :</h4>
          <v-table style="width: 70vh; height: 20vh; overflow: auto" fluid fixed-header>
            <thead style="background-color: #7991b6">
              <tr align="center" justify="center">
                <td>รหัสยา</td>
                <td>ซื้อยา</td>
                <td>ราคา</td>
                <td>จำนวน</td>
              </tr>
            </thead>
            <tbody>
              <tr align="center" justify="center">
                <td>1</td>
                <td>ยาพาราเซตามอล</td>
                <td>50.00</td>
                <td>1</td>
              </tr>
              <tr align="center" justify="center">
                <td>2</td>
                <td>ยาแก้อักเสบ</td>
                <td>150.00</td>
                <td>1</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>

        <v-col cols="12" sm="2">
          <h3 class="ma-5 ml-15">ราคารวม : 0</h3>
          <v-btn
            style="background-color: #8ea690; font-size: 18px"
            to="/empChoosePayment"
            class="ma-5 ml-3 font-weight-bold"
            block
            >จ่ายเงิน</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
