<script setup lang="ts">
import { ref } from 'vue'
</script>

<template>
  <div>
    <v-app-bar :elevation="2" style="background-color: #7991b6">
      <v-app-bar-title>
        <h2 style="font-size: 25px; color: white">การชำระเงิน</h2>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="auto">
          <v-col>
            <v-card class="mt-3" elevation="8" width="600" height="90" rounded="lg" color="#B6ADD7">
              <v-card-title class="text-center" style="color: #000000; margin-top: 20px"
                ><h2>ใบเสร็จ</h2></v-card-title
              >
            </v-card></v-col
          >
        </v-col>
      </v-row>
      <v-row align="center" justify="center" class="mt-5">
        <v-card width="1000px" height="80vh" variant="outlined">
          <v-toolbar color="#3E5EA3">
            <v-col col="12" sm="8">
              <p class="mt-1" style="font-size: 20px; color: white">ใบเสร็จรับเงิน</p>
            </v-col>
          </v-toolbar>
          <v-card-title>
            <v-row class="d-flex justify-center">
              <v-col cols="12" sm="3"></v-col>
              <v-col cols="12" sm="1">
                <h3 style="font-size: 25px; color: black">DENTAL</h3>
              </v-col>
              <v-col cols="12" sm="4" class="ml-5">
                <h3 style="font-size: 15px; color: black">Clinic</h3>
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-text>
            <v-row class="d-flex justify-end">
              <v-col cols="12" sm="3">
                <p>วันที่พิมพ์ : 08/01/2567</p>
              </v-col>
            </v-row>
            <v-row class="d-flex justify-end" style="margin-top: -10px">
              <v-col cols="12" sm="3">
                <p>เวลา : 11.00 น.</p>
              </v-col>
            </v-row>
            <v-row style="margin-top: -10px">
              <v-col cols="12" sm="3">
                <p>ชื่อ-นามสกุล : พระถัง ซัมจั๋ง</p>
              </v-col>
              <v-col cols="12" sm="6">
                <p>อายุ : 22 ปี</p>
              </v-col>
              <v-col cols="12" sm="3">
                <p>เลขที่ใบเสร็จ : 0123456</p>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text style="margin-top: -10px">
            <v-row>
              <v-col>
                <v-table style="height: 300px; height: 40vh; overflow: auto" fluid fixed-header>
                  <thead style="background-color: #7991b6">
                    <tr align="center" justify="center">
                      <td>ลำดับ</td>
                      <td>รหัส</td>
                      <td>บริการ/X-Rey/ยา</td>
                      <td>ค่ารักษา</td>
                      <td>ลด(%)</td>
                      <td>รวม</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr align="center" justify="center">
                      <td>1</td>
                      <td>01-02</td>
                      <td>ขูดหินปูน</td>
                      <td>700</td>
                      <td>-</td>
                      <td>700</td>
                    </tr>

                    <tr align="center" justify="center">
                      <td>2</td>
                      <td>01-05</td>
                      <td>อุดฟัน</td>
                      <td>500</td>
                      <td>-</td>
                      <td>500</td>
                    </tr>

                    <tr align="center" justify="center">
                      <td>3</td>
                      <td>-</td>
                      <td>ยาพาราเซตามอล</td>
                      <td>50</td>
                      <td>-</td>
                      <td>50</td>
                    </tr>

                    <tr align="center" justify="center">
                      <td>4</td>
                      <td>-</td>
                      <td>ยาแก้อักเสบ</td>
                      <td>50</td>
                      <td>-</td>
                      <td>50</td>
                    </tr>
                    <tr
                      align="center"
                      justify="center"
                      style="background-color: #7991b6"
                      fixed-header
                    >
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>รวม</td>
                      <td>1250 (บาท)</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="3">
                <p>ผู้รับเงิน : สมใจ สั่งมา</p>
              </v-col>
              <v-col cols="12" sm="6">
                <p></p>
              </v-col>
              <v-col cols="12" sm="3">
                <p>ชำระโดย : เงินสด</p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>

      <v-row class="d-flex justify-end">
        <v-col cols="12" sm="2">
          <v-btn
            style="background-color: #8ea690; font-size: 18px"
            to="/empHistoryMedical"
            class="ma-5 ml-3 font-weight-bold"
            block
            >เสร็จสิ้น</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
th,
td {
  border-right: 1px solid #000000; /* เพิ่มเส้นขอบด้านขวาของแต่ละเซลล์ */
}
</style>
