<script>
import { useDate } from 'vuetify'

export default {
  data: () => ({
    type: 'month',
    types: ['month', 'week', 'day'],
    weekday: [0, 1, 2, 3, 4, 5, 6],
    weekdays: [
      { title: 'Sun - Sat', value: [0, 1, 2, 3, 4, 5, 6] },
      { title: 'Mon - Sun', value: [1, 2, 3, 4, 5, 6, 0] },
      { title: 'Mon - Fri', value: [1, 2, 3, 4, 5] },
      { title: 'Mon, Wed, Fri', value: [1, 3, 5] }
    ],
    value: [new Date()],
    events: [],
    dialog: false,
    newEvent: {
      title: '',
      start: null,
      end: null
    },
    colors: [
      '#D9D9D9',
      '#9AC7CE',
      '#B4ADD6',
      '#EFA5BA',
      '#FFEEB5',
      '#8DA690',
      '#7991B6',
      '#736087',
      '#ED9A73',
      '#575757',
      '#F14668'
    ],
    titles: [
      'ฟอกสีฟัน',
      'ขูดหินปูน',
      'อุดฟัน',
      'ถอนฟัน',
      'ผ่าฟันคุด',
      'เปลี่ยนยางจัดฟัน',
      'ตรวจช่องปาก',
      'เคลือบฟลูออไรด์',
      'รักษารากฟัน',
      'รากเทียม',
      'วีเนียร์'
    ]
  }),
  mounted() {
    const adapter = useDate()
    this.getEvents({
      start: adapter.startOfDay(adapter.startOfMonth(new Date())),
      end: adapter.endOfDay(adapter.endOfMonth(new Date()))
    })
  },
  methods: {
    getEvents({ start, end }) {
      const events = []

      const min = start
      const max = end
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          title: this.titles[this.rnd(0, this.titles.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          allDay: !allDay
        })
      }

      this.events = events
    },
    getEventColor(event) {
      return event.color
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    }
  }
}
</script>

<template>
  <div>
    <v-app-bar color="#7991B6">
      <v-app-bar-title>
        <h2 style="font-size: 26px">จองคิวนัดตรวจ</h2>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <v-row>
        <v-col cols="10">
          <v-sheet tile height="54" class="d-flex">
            <v-select
              v-model="type"
              :items="types"
              dense
              variant="outlined"
              hide-details
              class="ma-2"
              label="View Mode"
            ></v-select>
            <v-select
              v-model="weekday"
              :items="weekdays"
              dense
              variant="outlined"
              hide-details
              label="weekdays"
              class="ma-2"
            ></v-select>
          </v-sheet>
          <v-sheet class="mt-3">
            <v-calendar
              ref="calendar"
              v-model="value"
              :weekdays="weekday"
              :view-mode="type"
              :events="events"
              @click:event="addEvent"
            ></v-calendar>
          </v-sheet>
        </v-col>
        <v-col cols="2" md="2" style="background-color: #3d5ea5">
          <v-card style="background-color: #ffffff; height: 300px">
            <h3 style="text-align: center">ประเภทการรักษา</h3>
            <p><v-icon color="#D9D9D9">mdi-square</v-icon> ฟอกสีฟัน</p>
            <p><v-icon color="#9AC7CE">mdi-square</v-icon> ขูดหินปูน</p>
            <p><v-icon color="#B4ADD6">mdi-square</v-icon> อุดฟัน</p>
            <p><v-icon color="#EFA5BA">mdi-square</v-icon> ถอนฟัน</p>
            <p><v-icon color="#FFEEB5">mdi-square</v-icon> ผ่าฟันคุด</p>
            <p><v-icon color="#8DA690">mdi-square</v-icon> เปลี่ยนยางจัดฟัน</p>
            <p><v-icon color="#7991B6">mdi-square</v-icon> ตรวจช่องปาก</p>
            <p><v-icon color="#736087">mdi-square</v-icon> เคลือบฟลูออไรด์</p>
            <p><v-icon color="#ED9A73">mdi-square</v-icon> รักษารากฟัน</p>
            <p><v-icon color="#575757">mdi-square</v-icon> รากเทียม</p>
            <p><v-icon color="#F14668">mdi-square</v-icon> วีเนียร์</p>
          </v-card>

          <v-dialog width="500">
            <template v-slot:activator="{ props }">
              <v-btn
                class="mt-10"
                size="large"
                elevation="4"
                color="#ffffff"
                block
                v-bind="props"
                text="Open Dialog"
              >
                <template v-slot:default>
                  <v-icon color="#4CAF50" class="mr-4" size="xx-large">mdi-plus-circle</v-icon>
                  จองคิว
                </template>
              </v-btn>
            </template>

            <template v-slot:default="{ isActive }">
              <v-card height="900px">
                <v-card-title>
                  <h3 class="text-center">จองคิวนัดตรวจ</h3>
                  <v-date-picker
                    class="ml-14 mt-2 v-date-picker-scaled"
                    color="#EFA5BA"
                    elevation="5"
                  ></v-date-picker>
                </v-card-title>
                <v-card-text style="margin-top: -220px">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          ชื่อ
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          นามสกุล
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เลขบัตรประจำตัวประชาชน
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เบอร์โทรศัพท์
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          ประเภทการรักษา
                        </div>
                        <v-select
                          :items="[
                            'ฟอกสีฟัน',
                            'ขูดหินปูน',
                            'อุดฟัน',
                            'ถอนฟัน',
                            'ผ่าฟันคุด',
                            'เปลี่ยนยางจัดฟัน',
                            'ตรวจช่องปาก',
                            'เคลือบฟลูออไรด์',
                            'รักษารากฟัน',
                            'รากเทียม',
                            'วีเนียร์'
                          ]"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เวลานัดหมาย
                        </div>
                        <v-select
                          :items="[
                            '10:00',
                            '10:30',
                            '11:00',
                            '11:30',
                            '12:00',
                            '12:30',
                            '13:00',
                            '13:30',
                            '14:00',
                            '14:30',
                            '15:00',
                            '15:30',
                            '16:00',
                            '16:30',
                            '17:00',
                            '17:30',
                            '18:00',
                            '18:30',
                            '19:00',
                            '19:30',
                            '20:00'
                          ]"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          รายชื่อแพทย์
                        </div>
                        <v-select
                          :items="['พญ.วราพร โคกศรี', 'นพ.ปีโป้ เจลลี่']"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn
                          text="ตกลง"
                          @click="isActive.value = false"
                          style="background-color: #8ea690"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn
                          text="ยกเลิก"
                          @click="isActive.value = false"
                          style="background-color: #f58a97"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

          <v-dialog width="500">
            <template v-slot:activator="{ props }">
              <v-btn
                class="mt-5"
                size="large"
                elevation="4"
                color="#ffffff"
                block
                v-bind="props"
                text="Open Dialog"
              >
                <template v-slot:default>
                  <v-icon color="#FFC75F" class="mr-3" size="xx-large">mdi-calendar-edit</v-icon>
                  แก้ไขคิว
                </template>
              </v-btn>
            </template>

            <template v-slot:default="{ isActive }">
              <v-card height="900px">
                <v-card-title>
                  <h3 class="text-center">จองคิวนัดตรวจ</h3>
                  <v-date-picker
                    class="ml-14 mt-2 v-date-picker-scaled"
                    color="#EFA5BA"
                    elevation="5"
                  ></v-date-picker>
                </v-card-title>
                <v-card-text style="margin-top: -220px">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          ชื่อ
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          นามสกุล
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เลขบัตรประจำตัวประชาชน
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เบอร์โทรศัพท์
                        </div>
                        <v-text-field variant="outlined" clearable required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          ประเภทการรักษา
                        </div>
                        <v-select
                          :items="[
                            'ฟอกสีฟัน',
                            'ขูดหินปูน',
                            'อุดฟัน',
                            'ถอนฟัน',
                            'ผ่าฟันคุด',
                            'เปลี่ยนยางจัดฟัน',
                            'ตรวจช่องปาก',
                            'เคลือบฟลูออไรด์',
                            'รักษารากฟัน',
                            'รากเทียม',
                            'วีเนียร์'
                          ]"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          เวลานัดหมาย
                        </div>
                        <v-select
                          :items="[
                            '10:00',
                            '10:30',
                            '11:00',
                            '11:30',
                            '12:00',
                            '12:30',
                            '13:00',
                            '13:30',
                            '14:00',
                            '14:30',
                            '15:00',
                            '15:30',
                            '16:00',
                            '16:30',
                            '17:00',
                            '17:30',
                            '18:00',
                            '18:30',
                            '19:00',
                            '19:30',
                            '20:00'
                          ]"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12">
                        <div class="text-subtitle-1 text-medium-emphasis" style="color: white">
                          รายชื่อแพทย์
                        </div>
                        <v-select
                          :items="['พญ.วราพร โคกศรี', 'นพ.ปีโป้ เจลลี่']"
                          variant="solo"
                          color="#f58a97"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn
                          text="ตกลง"
                          @click="isActive.value = false"
                          style="background-color: #8ea690"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-btn
                          text="ยกเลิก"
                          @click="isActive.value = false"
                          style="background-color: #f58a97"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

          <v-dialog width="500">
            <template v-slot:activator="{ props }">
              <v-btn
                class="mt-5"
                size="large"
                elevation="4"
                color="#ffffff"
                block
                v-bind="props"
                text="Open Dialog"
              >
                <template v-slot:default>
                  <v-icon color="#AF4C4C" class="mr-6" size="xx-large">mdi-delete-circle</v-icon>
                  ลบคิว
                </template>
              </v-btn>
            </template>

            <template v-slot:default="{ isActive }">
              <v-card height="250px">
                <v-card-title style="background-color: #3e5ea3">
                  <p style="font-size: 18px; color: #ffffff">ลบคิวนัดตรวจ</p>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" class="mt-5">
                        <p class="text-center" style="font-size: 22px">
                          ต้องการลบจองคิวนัดตรวจที่เลือกใช่หรือไม่ ?
                        </p>
                      </v-col>

                      <v-col cols="12" sm="6" class="mt-3">
                        <v-btn
                          text="ตกลง"
                          @click="isActive.value = false"
                          style="background-color: #8ea690"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                      <v-col cols="12" sm="6" class="mt-3">
                        <v-btn
                          text="ยกเลิก"
                          @click="isActive.value = false"
                          style="background-color: #f58a97"
                          size="large"
                          block
                        ></v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
          </v-dialog>

          <!-- <v-btn class="mt-10" size="large" elevation="4" color="#ffffff" block @click="openDialog">
            <template v-slot:default>
              <v-icon color="#4CAF50" class="mr-4" size="xx-large">mdi-plus-circle</v-icon>
              จองคิว
            </template>
          </v-btn> -->

          <!-- <v-btn class="mt-5" size="large" elevation="4" color="#ffffff" block>
            <template v-slot:default>
              <v-icon color="#FFC75F" class="mr-3" size="xx-large">mdi-calendar-edit</v-icon>
              แก้ไขคิว
            </template>
          </v-btn> -->

          <!-- <v-btn class="mt-5" size="large" elevation="4" color="#ffffff" block>
            <template v-slot:default>
              <v-icon color="#AF4C4C" class="mr-6" size="xx-large">mdi-delete-circle</v-icon>
              ลบคิว
            </template>
          </v-btn> -->
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.v-date-picker-scaled {
  transform: scale(0.6);
  transform-origin: top center;
}
</style>
