<script setup lang="ts"></script>

<template>
  <v-container style="background-color: #fff" fluid>
    <v-row>
      <v-col cols="12" sm="6">
        <v-card
          class="mt-4 mx-auto"
          elevation="8"
          max-width="525"
          height="325"
          color="#7991B6"
          fluid
        >
          <v-row>
            <v-col sm="4">
              <v-card
                class="mt-4 mx-auto"
                elevation="8"
                max-width="125"
                height="150"
                color="#FFFFFF"
              >
                <v-img
                  src="image (2).jpg"
                  style="background-color: #75a4d0; margin: 0 auto"
                  width="125"
                  height="150"
                >
                </v-img>
              </v-card>
              <v-col
                ><p style="font-size: 15px; color: black" class="text-center">ทพ.จัดฟัน</p>
              </v-col>
            </v-col>
            <v-col sm="7">
              <v-card
                class="mt-2 mx-auto"
                elevation="8"
                max-width="400"
                height="200"
                color="#FFFFFF"
              >
                <v-col sm="4">
                  <p style="font-size: 13px">วันที่ทำงาน :</p>
                </v-col>
                <v-col class="ml-16" sm="8">
                  <p style="font-size: 13px">วันจันทร์ : 09.00 -16.00 น.</p>
                  <p style="font-size: 13px">วันอังคาร : 09.00 - 16.00 น.</p>
                  <p style="font-size: 13px">วันพุธ : 09.00 - 16.00 น.</p>
                  <p style="font-size: 13px">วันพฤหัสบดี : 09.00 - 16.00 น.</p>
                  <p style="font-size: 13px">วันศุกร : 09.00 - 16.00 น.</p>
                  <p style="font-size: 13px">วันเสาร์ : -</p>
                  <p style="font-size: 13px">วันอาทิตย์ : -</p>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card width="525" height="325" color="#9AC7CE">
                <v-col class="ml-4">
                  <p style="font-size: 14px">ทพ.ปีโป้ เจลลี่</p>
                  <ul class="ml-8" style="font-size: 12px">
                    <li>ทันตแพทยศาสตรบัณฑิต มหาวิทยาลัยมหิดล</li>
                    <li>วิทยาศาสตรมหาบัณฑิต สาขาทันตกรรมจัดฟัน จุฬาลงกรณ์มหาวิทยาลัย</li>
                  </ul>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6">
        <v-card class="mt-4 mx-auto" elevation="8" max-width="525" height="325" color="#7991B6">
          <v-row>
            <v-col sm="4">
              <v-card
                class="mt-4 mx-auto"
                elevation="8"
                max-width="125"
                height="150"
                color="#FFFFFF"
              >
                <v-img
                  src="imageพญ.jpg"
                  style="background-color: #75a4d0; margin: 0 auto"
                  width="125"
                  height="150"
                >
                </v-img>
              </v-card>
              <v-col
                ><p style="font-size: 14px; color: black" class="text-center">ทพ.ศัลยกรรมช่องปาก</p>
              </v-col>
            </v-col>
            <v-col sm="7">
              <v-card
                class="mt-2 mx-auto"
                elevation="8"
                max-width="400"
                height="200"
                color="#FFFFFF"
              >
                <v-col sm="4">
                  <p style="font-size: 13px">วันที่ทำงาน :</p>
                </v-col>
                <v-col class="ml-16" sm="8">
                  <p style="font-size: 13px">วันจันทร์ : -</p>
                  <p style="font-size: 13px">วันอังคาร : -</p>
                  <p style="font-size: 13px">วันพุธ : -</p>
                  <p style="font-size: 13px">วันพฤหัสบดี : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันศุกร์ : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันเสาร์ : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันอาทิตย์ : 10.00 - 17.00 น.</p>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card width="525" height="325" color="#9AC7CE">
                <v-col class="ml-4">
                  <p style="font-size: 14px">ทพญ.วราพร โคกศรี</p>
                  <ul class="ml-8" style="font-size: 12px">
                    <li>ทันตแพทยศาสตรบัณฑิต มหาวิทยาลัยมหิดล</li>
                    <li>วิทยาศาสตรมหาบัณฑิต สาขาทันตกรรมจัดฟัน จุฬาลงกรณ์มหาวิทยาลัย</li>
                    <li>อบรมแพทย์ประจำบ้าน สาขาทันตกรรมโรคเหงือก</li>
                  </ul>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <v-card class="mt-4 mx-auto" elevation="8" max-width="525" height="325" color="#7991B6">
          <v-row>
            <v-col sm="4">
              <v-card
                class="mt-4 mx-auto"
                elevation="8"
                max-width="125"
                height="150"
                color="#FFFFFF"
              >
                <v-img
                  src="image (2).jpg"
                  style="background-color: #75a4d0; margin: 0 auto"
                  width="125"
                  height="150"
                >
                </v-img>
              </v-card>
              <v-col
                ><p style="font-size: 14px; color: black" class="text-center">
                  ทพ.บูรณะฟันและตกแต่ง
                </p>
              </v-col>
            </v-col>
            <v-col sm="7">
              <v-card
                class="mt-2 mx-auto"
                elevation="8"
                max-width="400"
                height="200"
                color="#FFFFFF"
              >
                <v-col sm="4">
                  <p style="font-size: 13px">วันที่ทำงาน :</p>
                </v-col>
                <v-col class="ml-16" sm="8">
                  <p style="font-size: 13px">วันจันทร์ : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันอังคาร : -</p>
                  <p style="font-size: 13px">วันพุธ : -</p>
                  <p style="font-size: 13px">วันพฤหัสบดี : -</p>
                  <p style="font-size: 13px">วันศุกร : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันเสาร์ : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันอาทิตย์ : 10.00 - 17.00 น.</p>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card width="525" height="325" color="#9AC7CE">
                <v-col class="ml-4">
                  <p style="font-size: 14px">ทพ.เดชา บรรชา</p>
                  <ul class="ml-8" style="font-size: 12px">
                    <li>ทันตแพทยศาสตรบัณฑิต มหาวิทยาลัยมหิดล</li>
                    <li>หลักสูตรฝึกอบรมเพื่อวุฒิบัตร สาขาทันตกรรมหัตถการ</li>
                  </ul>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6">
        <v-card class="mt-4 mx-auto" elevation="8" max-width="525" height="325" color="#7991B6">
          <v-row>
            <v-col sm="4">
              <v-card
                class="mt-4 mx-auto"
                elevation="8"
                max-width="125"
                height="150"
                color="#FFFFFF"
              >
                <v-img
                  src="imageพญ.jpg"
                  style="background-color: #75a4d0; margin: 0 auto"
                  width="125"
                  height="150"
                >
                </v-img>
              </v-card>
              <v-col
                ><p style="font-size: 14px; color: black" class="text-center">ทพ.รักษารากฟัน</p>
              </v-col>
            </v-col>
            <v-col sm="7">
              <v-card
                class="mt-2 mx-auto"
                elevation="8"
                max-width="400"
                height="200"
                color="#FFFFFF"
              >
                <v-col sm="4">
                  <p style="font-size: 13px">วันที่ทำงาน :</p>
                </v-col>
                <v-col class="ml-16" sm="8">
                  <p style="font-size: 13px">วันจันทร์ : -</p>
                  <p style="font-size: 13px">วันอังคาร : -</p>
                  <p style="font-size: 13px">วันพุธ : -</p>
                  <p style="font-size: 13px">วันพฤหัสบดี : -</p>
                  <p style="font-size: 13px">วันศุกร : -</p>
                  <p style="font-size: 13px">วันเสาร์ : 10.00 - 17.00 น.</p>
                  <p style="font-size: 13px">วันอาทิตย์ : 10.00 - 17.00 น.</p>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card width="525" height="325" color="#9AC7CE">
                <v-col class="ml-4">
                  <p style="font-size: 14px">ทพญ.พิพิม กากอย</p>
                  <ul class="ml-8" style="font-size: 12px">
                    <li>ทันตแพทยศาสตรบัณฑิต มหาวิทยาลัยเชียงใหม่</li>
                    <li>วิทยาศาสตรมหาบัณฑิต สาขาวิทยาเอนโดดอนต์ มหาวิทยาลัยเชียงใหม่</li>
                  </ul>
                </v-col>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-footer style="background-color: #3e5ea3">
    <v-row no-gutters style="color: white">
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="2"> <v-icon icon="mdi mdi-phone-in-talk"></v-icon> 0-2345-6789</v-col>
      <v-col cols="12" sm="3">
        <v-icon icon="mdi mdi-email"></v-icon> Dentalclinicofficial@gmail.com</v-col
      >
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-web"></v-icon> dentalclinicofficial.com
      </v-col>
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-facebook"></v-icon> Dentalclinicofficial
      </v-col>
    </v-row>
  </v-footer>
</template>
