<script setup lang="ts">
import { ref } from 'vue'
const visible = ref(false)
</script>

<template>
  <v-container style="background-color: #75a4d0" fluid>
    <v-row>
      <v-col col="12" sm="6" class="mt-15">
        <v-img
          src="logo.png"
          style="background-color: #75a4d0; margin: 0 auto"
          width="250"
          height="250"
          cover
        >
        </v-img>
        <v-col cols="12" sm="12" class="mt-2">
          <h1 style="font-size: 60px; color: white" class="text-center">DENTAL</h1>
          <h3 style="font-size: 50px; color: black" class="text-center ml-16">Clinic</h3>
        </v-col>
      </v-col>

      <v-col col="12" sm="6" style="background-color: #3d5ea5" fluid>
        <v-card
          class="mx-auto mt-5"
          elevation="8"
          max-width="550"
          height="370"
          rounded="lg"
          color="#B6ADD7"
        >
          <v-toolbar color="#75A4D1">
            <v-col col="12" sm="2">
              <v-img
                src="https://media.discordapp.net/attachments/992671856505131078/1208035285594808340/logo.png?ex=65e1d188&is=65cf5c88&hm=10554db058019be18a9831a1a01295e9c5f17f67d7098bc2d238af5c91d95579&=&format=webp&quality=lossless&width=238&height=238"
                style="background-color: #75a4d1; margin: 0 auto"
                width="60"
                height="60"
                cover
              >
              </v-img>
            </v-col>
            <v-col col="12" sm="8">
              <h2 class="text-center mt-1" style="font-size: 32px; color: black">Dental Clinic</h2>
            </v-col>
          </v-toolbar>

          <v-form class="ml-15 mr-15">
            <v-col col="12" sm="12">
              <p class="text-center" style="font-size: 25px; color: white">Welcome</p>
              <div class="text-subtitle-1 text-medium-emphasis" style="color: white">User</div>
              <v-text-field
                style="height: 40px"
                density="compact"
                placeholder="User name"
                prepend-inner-icon="mdi-account"
                variant="solo"
                clearable
              ></v-text-field>
            </v-col>

            <v-col col="12" sm="12">
              <div
                class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
              >
                Password
                <!-- <a
                  class="text-caption text-decoration-none text-white"
                  href="#"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  Forgot login password?</a
                > -->
              </div>

              <v-text-field
                :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                :type="visible ? 'text' : 'password'"
                density="compact"
                placeholder="Enter your password"
                prepend-inner-icon="mdi-lock"
                variant="solo"
                @click:append-inner="visible = !visible"
              ></v-text-field>
            </v-col>

            <v-btn block class="mb-2" color="#9AC7CE" size="40px" to="/empHistoryMedical">
              Log In
            </v-btn>
            <!-- <v-card-text class="text-center">
              <a
                class="text-white text-decoration-none"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
              >
                Sign up now <v-icon icon="mdi-chevron-right"></v-icon>
              </a>
            </v-card-text> -->
          </v-form>
        </v-card>
        <v-card
          class="mt-10 mx-auto"
          elevation="8"
          max-width="550"
          height="200"
          rounded="lg"
          color="#fff"
        >
          <p class="text-center mt-15 ml-10 mr-10" style="font-size: 20px; color: #3d5ea5">
            ยินดีต้อนรับเข้าสู่เว็บไซต์ Dental Clinic !
            สำหรับสมาชิกใหม่ท่านสามารถลงทะเบียนสมัครสมาชิก ได้ที่ Dental Clinic
            เพียงใช้แค่บัตรประจำตัวประชาชนใบเดียวเท่านั้น !
          </p>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-footer style="background-color: #ffffff">
    <v-row no-gutters>
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="2"> <v-icon icon="mdi mdi-phone-in-talk"></v-icon> 0-2345-6789</v-col>
      <v-col cols="12" sm="3">
        <v-icon icon="mdi mdi-email"></v-icon> Dentalclinicofficial@gmail.com</v-col
      >
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-web"></v-icon> dentalclinicofficial.com
      </v-col>
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-facebook"></v-icon> Dentalclinicofficial
      </v-col>
    </v-row>
  </v-footer>
</template>

<style>
.welcome-page {
  background-color: #75a4d0;
  color: #75a4d0;
  font-family: sans-serif;
}

.card {
  padding: 145px;
}
</style>
