<script setup lang="ts"></script>

<template>
  <v-parallax src="Bg.jpg" style="height: 89vh" fluid>
    <v-container>
      <v-row>
        <v-col col="12" sm="4" class="mt-15">
          <v-img
            src="logo.png"
            style="background-color: #75a4d0; margin: 0 auto"
            width="250"
            height="250"
            cover
          >
          </v-img>
          <v-col cols="12" sm="12" class="mt-2">
            <h1 style="font-size: 70px; color: white" class="text-center">DENTAL</h1>
            <h3 style="font-size: 60px; color: black" class="text-center ml-16">Clinic</h3>
          </v-col>
        </v-col>
        <v-col cols="12" sm="4"></v-col>
        <v-col cols="12" sm="6" md="4" class="mx-auto mt-15">
          <v-card
            class="mt-15 mx-auto"
            elevation="8"
            max-width="400"
            height="200"
            rounded="lg"
            color="#fff"
          >
            <v-card-title class="text-center" style="color: #3d5ea5; margin-top: 40px"
              ><h1>บริการทันตกรรม</h1></v-card-title
            >
            <v-card-text class="text-center" style="margin-top: 20px">
              <h2>เพื่อความสวยงาม</h2>
              <h2>และบริการทางทันตกรรมทั่วไป</h2></v-card-text
            >
          </v-card>
          <v-col cols="12" sm="12" class="mt-5">
            <h2 style="font-size: 22px; color: white" class="text-center">
              ทำฟันปลอดภัย มั่นใจกับ Dental Clinic
            </h2>
            <h2 style="font-size: 22px; color: white" class="text-center">
              เราเข้มข้นในทุกจุด ให้คนไข้ที่น่ารักของเราปลอดภัย
            </h2>
          </v-col>
        </v-col>
      </v-row>
    </v-container>
  </v-parallax>

  <v-footer style="background-color: #ffffff">
    <v-row no-gutters>
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="2"> <v-icon icon="mdi mdi-phone-in-talk"></v-icon> 0-2345-6789</v-col>
      <v-col cols="12" sm="3">
        <v-icon icon="mdi mdi-email"></v-icon> Dentalclinicofficial@gmail.com</v-col
      >
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-web"></v-icon> dentalclinicofficial.com
      </v-col>
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-facebook"></v-icon> Dentalclinicofficial
      </v-col>
    </v-row>
  </v-footer>
</template>
