<script setup lang="ts"></script>

<template>
  <v-container style="background-color: #75a4d0" fluid>
    <v-row justify="center">
      <v-col cols="12" sm="3">
        <v-card
          class="mt-10 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #b4add6;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">อุดฟัน</p>
              <p style="font-size: 15px">เริ่มต้น 400 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-10 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #9ac7ce;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">ขูดหินปูน</p>
              <p style="font-size: 15px">600-2,000 บาท</p>
              <p style="font-size: 15px">ราคาต่อครั้ง</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-10 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #efa5ba;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">ถอนฟัน</p>
              <p style="font-size: 15px">600-2,000 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #736087;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">เคลือบฟลูออไรด์</p>
              <p style="font-size: 15px">เริ่มต้น 400 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #d9d9d9;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">ฟอกสีฟัน</p>
              <p style="font-size: 15px">8,000 บาท</p>
              <p style="font-size: 15px">ราคาต่อครั้ง</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #ffeeb5;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">ผ่าฟันคุด</p>
              <p style="font-size: 15px">800-2,000 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #7991b6;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">ตรวจช่องปาก</p>
              <p style="font-size: 15px">เริ่มต้น 400 บาท</p>
              <p style="font-size: 15px">ราคาต่อครั้ง</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #575757;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">รากเทียม</p>
              <p style="font-size: 15px">เริ่มต้น 5,500 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3">
        <v-card
          class="mt-5 mx-auto"
          elevation="8"
          max-width="400"
          height="150"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="4"
              ><v-btn
                width="80px"
                height="80px"
                class="mt-8 ml-3"
                style="
                  background-color: #ed9a73;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="mt-8">
              <p style="font-size: 25px">รักษารากฟัน</p>
              <p style="font-size: 15px">4,000-8,000 บาท</p>
              <p style="font-size: 15px">ราคาต่อซี่</p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="9">
        <v-card
          class="mt-3 mx-auto"
          elevation="8"
          max-width="1200"
          height="200"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="2">
              <v-btn
                width="80px"
                height="80px"
                class="mt-16 ml-16"
                style="
                  background-color: #8da690;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center mt-12 pl-8" sm="1.5">
              <p style="font-size: 25px">จัดฟัน</p>
              <p style="font-size: 25px">และ</p>
              <p style="font-size: 25px">รีเทนเนอร์</p>
            </v-col>
            <v-col class="mt-5 pl-12" sm="7">
              <ul style="font-size: 15px">
                <li>จัดฟันด้วยเครื่องมือติดแน่นโลหะ 36,000-48,000 บาท/คอร์ส</li>
                <li>
                  รายการที่ 2 จัดฟันด้วยเครื่องมือติดแน่นแบบ Self ligate 50,000-65,000 บาท/คอร์ส
                </li>
                <li>จัดฟันแบบใส 69,000-185,000 บาท/คอร์ส</li>
                <li>รีเทนเนอร์แบบอคริลิก 3000-3,500 บาท/ชิ้น</li>
                <li>รีเทนเนอร์ใส 3,000-4,000 บาท/ชิ้น</li>
                <li>รายการที่ รีเทนเนอร์แบบโครงโลหะ 4,000-6,000 บาท/ชิ้น</li>
                <li>ติดเครื่องมือจัดฟันที่หลุด 400-1,000 บาท/ตัว</li>
              </ul>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" sm="9">
        <v-card
          class="mt-3 mx-auto"
          elevation="8"
          max-width="1200"
          height="200"
          rounded="lg"
          color="#fff"
        >
          <v-row>
            <v-col sm="2">
              <v-btn
                width="80px"
                height="80px"
                class="mt-16 ml-16"
                style="
                  background-color: #f14668;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <v-icon size="xxx-large" style="color: white">mdi mdi-tooth</v-icon>
              </v-btn>
            </v-col>
            <v-col class="text-center mt-12 pl-8" sm="1.5">
              <p style="font-size: 25px">วีเนียร์</p>
              <p style="font-size: 25px">และ</p>
              <p style="font-size: 25px">เคลือบฟันเทียม</p>
            </v-col>
            <v-col class="mt-16 pl-12" sm="7">
              <ul style="font-size: 15px">
                <li>วีเนียร์ คอมโพสิต ปกติ ซี่ละ 3,000-3,500 บาท</li>
                <li>วีเนียร์ คอมโพสิต แบบกลึงคอมพิวเตอร์ ปกติ ซี่ละ 12,000 บาท</li>
                <li>วีเนียร์ เซรามิค ปกติ ซี่ละ 14,000 บาท</li>
              </ul>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <v-footer style="background-color: #ffffff">
    <v-row no-gutters>
      <v-col cols="12" sm="2"></v-col>
      <v-col cols="12" sm="2"> <v-icon icon="mdi mdi-phone-in-talk"></v-icon> 0-2345-6789</v-col>
      <v-col cols="12" sm="3">
        <v-icon icon="mdi mdi-email"></v-icon> Dentalclinicofficial@gmail.com</v-col
      >
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-web"></v-icon> dentalclinicofficial.com
      </v-col>
      <v-col cols="12" sm="2">
        <v-icon icon="mdi mdi-facebook"></v-icon> Dentalclinicofficial
      </v-col>
    </v-row>
  </v-footer>
</template>
