<script setup lang="ts">
import { usePatientStore } from '@/stores/patient'
import { onMounted } from 'vue'

const patientStore = usePatientStore()
const clear = () => {
  patientStore.dialog = false
  patientStore.clearPatient()
}
onMounted(async () => {
  await patientStore.getPatients()
  patientStore.getPatients()
})
</script>

<template>
  <v-container style="background-color: #75a4d0" fluid>
    <v-row>
      <v-col col="12" sm="6" class="mt-15">
        <v-img
          src="logo.png"
          style="background-color: #75a4d0; margin: 0 auto"
          width="250"
          height="250"
          cover
        >
        </v-img>
        <v-col cols="12" sm="12" class="mt-2">
          <h1 style="font-size: 60px; color: white" class="text-center">DENTAL</h1>
          <h3 style="font-size: 50px; color: black" class="text-center ml-16">Clinic</h3>
        </v-col>
      </v-col>

      <v-col col="12" sm="6" style="background-color: #3d5ea5">
        <v-card
          class="mx-auto mt-5"
          elevation="8"
          max-width="580"
          height="750"
          rounded="lg"
          color="#B6ADD7"
        >
          <v-form v-for="item of patientStore.patients" :key="item.patien_id">
            <v-container style="background-color: white; height: 120vh" fluid>
              <v-row>
                <v-col offset="4">
                  <h1>ขึ้นทะเบียนคนไข้</h1>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :counter="13"
                    label="เลขบัตรประจำตัวปประชาชน"
                    v-model="patientStore.editedPatient.patien_cardnumber"
                    :rules="[
                      (v) => !!v || 'Cardnumber จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Cardnumber จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="20"
                    label="ชื่อ"
                    v-model="patientStore.editedPatient.patien_name"
                    :rules="[
                      (v) => !!v || 'Name จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="20"
                    label="นามสกุล"
                    v-model="patientStore.editedPatient.patien_surname"
                    :rules="[
                      (v) => !!v || 'Surname จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Surname จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="7">
                  <v-text-field
                    :counter="10"
                    label="วัน/เดือน/ปีเกิด"
                    v-model="patientStore.editedPatient.patien_birth"
                    :rules="[
                      (v) => !!v || 'Birth จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Birth จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="5">
                  <v-text-field
                    :counter="3"
                    label="อายุ"
                    v-model="patientStore.editedPatient.patien_age"
                    :rules="[
                      (v) => !!v || 'Age จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 1 || 'Age จะต้องมีขนาดมากกว่าหรือเท่ากับ 1 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field
                    :counter="10"
                    label="เพศ"
                    v-model="patientStore.editedPatient.patien_gender"
                    :rules="[
                      (v) => !!v || 'Gender จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Gender จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="8">
                  <v-text-field
                    :counter="10"
                    label="เบอร์โทรศัพท์"
                    v-model="patientStore.editedPatient.patien_phonenumber"
                    :rules="[
                      (v) => !!v || 'Phonenumber จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 || 'Phonenumber จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    :counter="50"
                    label="ที่อยู่"
                    v-model="patientStore.editedPatient.patien_address"
                    :rules="[
                      (v) => !!v || 'Adress จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 2 || 'Adress จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="50"
                    label="ประวัติการแพ้ยา"
                    v-model="patientStore.editedPatient.patien_drugAllergy"
                    :rules="[
                      (v) => !!v || 'DrugAllergy จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 || 'DrugAllergy จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    :counter="50"
                    label="โรคประจำตัว"
                    v-model="patientStore.editedPatient.patien_congenitalDisease"
                    :rules="[
                      (v) => !!v || 'CongenitalDisease จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'CongenitalDisease จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร'
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col offset="7">
                  <v-btn color="#F58A97" to="/empPatient" @click="clear">ยกเลิก</v-btn>
                </v-col>
                <v-col>
                  <v-btn color="#9AC7CE" @click="patientStore.savePatient()" to="/empPatient"
                    >ตกลง</v-btn
                  >
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <!-- <v-container style="background-color: #75a4d0; height: 130vh" fluid>
    <v-col cols="7" offset="5">
      <v-form>
        <v-container style="background-color: white; height: 120vh" fluid>
          <v-row>
            <v-col offset="4">
              <h1>ขึ้นทะเบียนคนไข้</h1>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field :counter="13" label="เลขบัตรประจำตัวปประชาชน"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field :counter="20" label="ชื่อ - นามสกุล"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="7">
              <v-text-field :counter="10" label="วัน/เดือน/ปีเกิด"></v-text-field>
            </v-col>
            <v-col cols="12" md="5">
              <v-text-field :counter="3" label="อายุ"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field :counter="10" label="เพศ"></v-text-field>
            </v-col>
            <v-col cols="12" md="8">
              <v-text-field :counter="10" label="เบอร์โทรศัพท์"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field :counter="50" label="ที่อยู่"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="30" md="6">
              <v-text-field :counter="50" label="ประวัติการแพ้ยา"></v-text-field>
            </v-col>
            <v-col cols="30" md="6">
              <v-text-field :counter="50" label="โรคประจำตัว"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col offset="7">
              <v-btn color="#F58A97" class="ma-1" to="/empPatient">ยกเลิก</v-btn>
            </v-col>
            <v-col>
              <v-btn color="#9AC7CE" class="ma-1">ตกลง</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-col>
  </v-container> -->

  <!-- <v-container style="background-color: #75A4D0; height: 100vh; " fluid>
  <v-col cols="7" offset="5">
    <v-container style="background-color: #3D5EA5;" >
  <v-col>
    <v-card color="white" width="500" height="550">
      <h1 class="ma-2">ขึ้นทะเบียนคนไข้</h1>
      <v-row>
    <v-text-field label="เลขบัตรประจำตังประชาชน" class="ma-1"></v-text-field>
  </v-row>
  <v-row>
    <v-text-field label="ชื่อ-นามสกุล" ></v-text-field>
  </v-row>
  <v-row>
    <v-col>
      <v-text-field label="วัน/เดือน/ปีเกิด" ></v-text-field>
    </v-col>
    <v-col>
      <v-text-field label="อายุ" ></v-text-field>
    </v-col>
  </v-row>
  <v-row>
    <v-col>
      <v-text-field label="เพศ" ></v-text-field>
    </v-col>
    <v-col>
      <v-text-field label="เบอร์โทรศัพท์" ></v-text-field>
    </v-col>
  </v-row>
  <v-row>
    <v-text-field label="ที่อยู่" ></v-text-field>
  </v-row>
  <v-row>
    <v-col>
      <v-text-field label="ประวัติการแพ้ยา" ></v-text-field>
    </v-col>
    <v-col>
      <v-text-field label="โรคประจำตัว" ></v-text-field>
    </v-col>
  </v-row>
  <v-card-actions offset="6">
    <v-btn class="ma-2" color="red" >ยกเลิก</v-btn>
    <v-btn class="ma-2" color="green">ตกลง</v-btn>
  </v-card-actions>
  </v-card>
  </v-col>
 </v-container>
  </v-col>
 </v-container> -->
</template>

<style scoped></style>
