<script setup lang="ts">
import router from '@/router'
import { onMounted } from 'vue'

const currentpath = router.currentRoute.value.fullPath
onMounted(() => {
  console.log(currentpath)
})
</script>

<template>
  <v-navigation-drawer permanent style="background-color: #9ac7ce">
    <v-list>
      <v-list-item>
        <v-card class="mx-auto" style="background-color: #9ac7ce">
          <v-img
            src="logo.png"
            style="background-color: #9ac7ce; margin: 0 auto"
            width="130"
            height="122"
            justify-content
            cover
          >
          </v-img>
        </v-card>
      </v-list-item>

      <v-list-item
        ><h1 class="text-center" style="font-size: 40px; color: white">DENTAL</h1>
        <h3 class="text-right mr-11" style="font-size: 20px; color: black">Clinic</h3>
      </v-list-item>
    </v-list>

    <v-list density="compact" nav>
      <v-btn
        prepend-icon="mdi-folder-edit-outline"
        value="HistoryMedicalView"
        style="background-color: #3e5ea3"
        block
        :color="router.currentRoute.value.fullPath === '/empHistoryMedical' ? '#000' : '#FFFF'"
        to="/empHistoryMedical"
        >ประวัติการชำระเงิน
      </v-btn>

      <v-btn
        prepend-icon="mdi-currency-usd"
        value="PaymentView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empPayment' ? '#000' : '#FFFF'"
        to="/empPayment"
        >การชำระเงิน
      </v-btn>

      <v-btn
        prepend-icon="mdi-pill-multiple"
        value="DispenseView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empDispense' ? '#000' : '#FFFF'"
        to="/empDispense"
        >การจ่ายยา
      </v-btn>

      <v-btn
        prepend-icon="mdi-calendar-month"
        value="AppointmentView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empAppointment' ? '#000' : '#FFFF'"
        to="/empAppointment"
        >ตารางการนัดหมาย
      </v-btn>

      <v-btn
        prepend-icon="mdi-plus-circle-outline"
        value="ReservationQueueView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empReservationQueue' ? '#000' : '#FFFF'"
        to="/empReservationQueue"
        >จองคิวนัดตรวจ
      </v-btn>

      <v-btn
        prepend-icon="mdi-book-account-outline"
        value="CustomerView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empPatient' ? '#000' : '#FFFF'"
        to="/empPatient"
        >ข้อมูลคนไข้
      </v-btn>

      <v-btn
        prepend-icon="mdi-calendar-edit-outline"
        value="ManageQueueView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/empManageQueue' ? '#000' : '#FFFF'"
        to="/empManageQueue"
        >จัดการจองคิวออนไลน์
      </v-btn>
    </v-list>

    <template v-slot:append>
      <v-list density="compact" nav>
        <v-btn
          prepend-icon="mdi-logout"
          value="LoginView"
          style="background-color: #f58a97"
          class="m"
          block
          :color="router.currentRoute.value.fullPath === '/' ? '#000' : '#FFFF'"
          to="/"
          >ออกจากระบบ
        </v-btn>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>

<style scoped></style>
