<script setup lang="ts">
import router from '@/router'
import { onMounted } from 'vue'
import { ref } from 'vue'

const tab = ref(null)

const currentpath = router.currentRoute.value.fullPath
onMounted(() => {
  console.log(currentpath)
})
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #9ac7ce">
    <v-app-bar-title>
      <v-row>
        <v-col cols="12" sm="1">
          <v-img src="logo.png" style="background-color: #9ac7ce" width="65" height="60" cover>
          </v-img>
        </v-col>
        <v-col cols="12" sm="1">
          <h1 class="text-center mt-2" style="font-size: 20px; color: white">DENTAL</h1>
          <h3 class="text-right mr-13" style="font-size: 15px; color: black">Clinic</h3>
        </v-col>
      </v-row>
    </v-app-bar-title>
    <v-tabs v-model="tab" color="#3D5EA5" align-tabs="end">
      <v-tab :value="1" v-bind:to="'/'">หน้าหลัก</v-tab>
      <v-tab :value="2" v-bind:to="'/serve'">บริการ</v-tab>
      <v-tab :value="3" v-bind:to="'/doctor'">ทันตแพทย์</v-tab>
      <v-tab :value="4" v-bind:to="'/login'">เข้าสู่ระบบ</v-tab>
    </v-tabs>
  </v-app-bar>
</template>

<style scoped></style>
