<script setup lang="ts">
import router from '@/router'
import { onMounted } from 'vue'

const currentpath = router.currentRoute.value.fullPath
onMounted(() => {
  console.log(currentpath)
})
</script>

<template>
  <v-navigation-drawer permanent style="background-color: #9ac7ce">
    <v-list>
      <v-list-item>
        <v-card class="mx-auto" style="background-color: #9ac7ce">
          <v-img
            src="logo.png"
            style="background-color: #9ac7ce; margin: 0 auto"
            width="130"
            height="122"
            justify-content
            cover
          >
          </v-img>
        </v-card>
      </v-list-item>

      <v-list-item
        ><h1 class="text-center" style="font-size: 40px; color: white">DENTAL</h1>
        <h3 class="text-right mr-11" style="font-size: 20px; color: black">Clinic</h3>
      </v-list-item>
    </v-list>

    <v-list density="compact" nav>
      <v-list-item
        style="background-color: #7991b6; color: white; text-align: center; font-size: 20px"
        prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
        title="พญ.วราพร โคกศรี"
      ></v-list-item>

      <v-btn
        prepend-icon="mdi-medical-bag"
        value="TreatingView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/docTreating' ? '#000' : '#FFFF'"
        to="/docTreating"
        >การรักษา
      </v-btn>

      <v-btn
        prepend-icon="mdi-book-plus-multiple"
        value="TreatmentplanView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/docTreatmentplan' ? '#000' : '#FFFF'"
        to="/docTreatmentplan"
        >แผนการรักษา
      </v-btn>

      <v-btn
        prepend-icon="mdi-calendar-month"
        value="AppointmentdocView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/docAppointment' ? '#000' : '#FFFF'"
        to="/docAppointment"
        >ตารางการนัดหมาย
      </v-btn>

      <v-btn
        prepend-icon="mdi-book-account-outline"
        value="PatientView"
        style="background-color: #3e5ea3"
        class="mt-3"
        block
        :color="router.currentRoute.value.fullPath === '/docPatient' ? '#000' : '#FFFF'"
        to="/docPatient"
        >ข้อมูลคนไข้
      </v-btn>
    </v-list>

    <template v-slot:append>
      <v-list density="compact" nav>
        <v-btn
          prepend-icon="mdi-logout"
          value="LoginView"
          style="background-color: #f58a97"
          class="m"
          block
          :color="router.currentRoute.value.fullPath === '/' ? '#000' : '#FFFF'"
          to="/"
          >ออกจากระบบ
        </v-btn>
      </v-list>
    </template>
  </v-navigation-drawer>
</template>

<style scoped></style>
