<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import MainMenu from './components/MainMenu.vue'
import MainMenuEmplyee from './components/MainMenuEmplyee.vue'
import MainMenuDoctor from './components/MainMenuDoctor.vue'
import router from './router'
</script>

<template>
  <v-layout>
    <v-main>
      <MainMenu
        v-if="
          !router.currentRoute.value.meta.login &&
          !router.currentRoute.value.meta.employee &&
          !router.currentRoute.value.meta.doctor
        "
      ></MainMenu>
      <MainMenuEmplyee
        v-if="!router.currentRoute.value.meta.login && router.currentRoute.value.meta.employee"
      ></MainMenuEmplyee>
      <MainMenuDoctor
        v-if="!router.currentRoute.value.meta.login && router.currentRoute.value.meta.doctor"
      ></MainMenuDoctor>
      <RouterView></RouterView>
    </v-main>
  </v-layout>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
* {
  font-family: 'Noto Sans Thai', sans-serif;
}
</style>
