<script setup lang="ts"></script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">แผนการรักษา</h2>
    </v-app-bar-title>
  </v-app-bar>
  <v-container>
  </v-container>
  <v-row>
    <v-col>
      <v-table style="height: 65vh; overflow: auto" fluid>
        <thead style="background-color: #7991B6">
          <tr align="center" justify="center">
            <td>วัน/เดือน/ปี</td>
            <td>รายละเอียด</td>
            <td>ระยะเวลาการรักษา</td>
            <td>ทันตแพทย์</td>
            <td>แก้ไข</td>
            <td>ลบ</td>
          </tr>
        </thead>
        <tbody>
          <tr align="center" justify="center">
            <td>30/01/2024</td>
            <td>ถอนฟันซี่คุด ผ่าฟันคุด ติดเครื่องมือจัดฟัน บน - ล่าง </td>
            <td>2-3 ปี</td>
            <td>พญ.วราพร โคกศรี</td>
            <td><v-btn icon="mdi mdi-square-edit-outline" variant="text" color="#3E5EA3"></v-btn></td>
            <td><v-btn icon="mdi-trash-can-outline" variant="text" color="red"></v-btn></td>
          </tr>
        </tbody>

     

      </v-table>
      
    </v-col>
  </v-row>
  <v-footer>

  </v-footer>
</template>
