<script>
import { useDate } from 'vuetify'

export default {
  data: () => ({
    type: 'month',
    types: ['month', 'week', 'day'],
    weekday: [0, 1, 2, 3, 4, 5, 6],
    weekdays: [
      { title: 'Sun - Sat', value: [0, 1, 2, 3, 4, 5, 6] },
      { title: 'Mon - Sun', value: [1, 2, 3, 4, 5, 6, 0] },
      { title: 'Mon - Fri', value: [1, 2, 3, 4, 5] },
      { title: 'Mon, Wed, Fri', value: [1, 3, 5] }
    ],
    value: [new Date()],
    events: [],
    dialog: false,
    newEvent: {
      title: '',
      start: null,
      end: null
    },
    colors: [
      '#D9D9D9',
      '#9AC7CE',
      '#B4ADD6',
      '#EFA5BA',
      '#FFEEB5',
      '#8DA690',
      '#7991B6',
      '#736087',
      '#ED9A73',
      '#575757',
      '#F14668'
    ],
    titles: [
      'ฟอกสีฟัน',
      'ขูดหินปูน',
      'อุดฟัน',
      'ถอนฟัน',
      'ผ่าฟันคุด',
      'เปลี่ยนยางจัดฟัน',
      'ตรวจช่องปาก',
      'เคลือบฟลูออไรด์',
      'รักษารากฟัน',
      'รากเทียม',
      'วีเนียร์'
    ]
  }),
  mounted() {
    const adapter = useDate()
    this.getEvents({
      start: adapter.startOfDay(adapter.startOfMonth(new Date())),
      end: adapter.endOfDay(adapter.endOfMonth(new Date()))
    })
  },
  methods: {
    getEvents({ start, end }) {
      const events = []

      const min = start
      const max = end
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)

      for (let i = 0; i < eventCount; i++) {
        const allDay = this.rnd(0, 3) === 0
        const firstTimestamp = this.rnd(min.getTime(), max.getTime())
        const first = new Date(firstTimestamp - (firstTimestamp % 900000))
        const secondTimestamp = this.rnd(2, allDay ? 288 : 8) * 900000
        const second = new Date(first.getTime() + secondTimestamp)

        events.push({
          title: this.titles[this.rnd(0, this.titles.length - 1)],
          start: first,
          end: second,
          color: this.colors[this.rnd(0, this.colors.length - 1)],
          allDay: !allDay
        })
      }

      this.events = events
    },
    getEventColor(event) {
      return event.color
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    }
  }
}
</script>

<template>
  <div>
    <v-app-bar color="#7991B6">
      <v-app-bar-title>
        <h2 style="font-size: 26px">ตารางการนัดหมาย</h2>
      </v-app-bar-title>
    </v-app-bar>
    <v-container>
      <v-row>
        <v-col cols="10">
          <v-sheet tile height="54" class="d-flex">
            <v-select
              v-model="type"
              :items="types"
              dense
              variant="outlined"
              hide-details
              class="ma-2"
              label="View Mode"
            ></v-select>
            <v-select
              v-model="weekday"
              :items="weekdays"
              dense
              variant="outlined"
              hide-details
              label="weekdays"
              class="ma-2"
            ></v-select>
          </v-sheet>
          <v-sheet class="mt-3">
            <v-calendar
              ref="calendar"
              v-model="value"
              :weekdays="weekday"
              :view-mode="type"
              :events="events"
              @click:event="addEvent"
            ></v-calendar>
          </v-sheet>
        </v-col>
        <v-col cols="2" md="2" style="background-color: #3d5ea5">
          <v-card style="background-color: #ffffff; height: 300px">
            <h3 style="text-align: center">ประเภทการรักษา</h3>
            <p><v-icon color="#D9D9D9">mdi-square</v-icon> ฟอกสีฟัน</p>
            <p><v-icon color="#9AC7CE">mdi-square</v-icon> ขูดหินปูน</p>
            <p><v-icon color="#B4ADD6">mdi-square</v-icon> อุดฟัน</p>
            <p><v-icon color="#EFA5BA">mdi-square</v-icon> ถอนฟัน</p>
            <p><v-icon color="#FFEEB5">mdi-square</v-icon> ผ่าฟันคุด</p>
            <p><v-icon color="#8DA690">mdi-square</v-icon> เปลี่ยนยางจัดฟัน</p>
            <p><v-icon color="#7991B6">mdi-square</v-icon> ตรวจช่องปาก</p>
            <p><v-icon color="#736087">mdi-square</v-icon> เคลือบฟลูออไรด์</p>
            <p><v-icon color="#ED9A73">mdi-square</v-icon> รักษารากฟัน</p>
            <p><v-icon color="#575757">mdi-square</v-icon> รากเทียม</p>
            <p><v-icon color="#F14668">mdi-square</v-icon> วีเนียร์</p>
          </v-card>

          <v-btn class="mt-5" size="large" elevation="4" color="#ffffff" block @click="openDialog">
            <template v-slot:default>
              <v-icon color="#EFA5BA" class="mr-4" size="x-large"
                >mdi-text-box-search-outline</v-icon
              >
              ดูรายละเอียด
            </template>
          </v-btn>

          <!-- <v-btn class="mt-5" size="large" elevation="4" color="#ffffff" block>
            <template v-slot:default>
              <v-icon color="#FFC75F" class="mr-3" size="xx-large">mdi-calendar-edit</v-icon>
              แก้ไขคิว
            </template>
          </v-btn> -->

          <!-- <v-btn class="mt-5" size="large" elevation="4" color="#ffffff" block>
            <template v-slot:default>
              <v-icon color="#AF4C4C" class="mr-6" size="xx-large">mdi-delete-circle</v-icon>
              ลบคิว
            </template>
          </v-btn> -->
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style>
.v-date-picker-scaled {
  transform: scale(0.6);
  transform-origin: top center;
}
</style>
