<script setup lang="ts">
import { onMounted } from 'vue'
import { useTreatingStore } from '@/stores/treating'
import { usePatientStore } from '@/stores/patient'
import { usePrecribingDetailStore } from '@/stores/precribingdetail'
import { useTreatmentDetailStore } from '@/stores/treatmentdetail'
const treatingStore = useTreatingStore()
const patientStore = usePatientStore()
const precribingdetailStore = usePrecribingDetailStore()
const treatmentdetailStore = useTreatmentDetailStore()

onMounted(async () => {
  await treatingStore.getTreatings()
  await treatmentdetailStore.getTreatmentDetails()
})
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">รายละเอียดการรักษา</h2>
    </v-app-bar-title>
  </v-app-bar>
  <v-container>
    <v-row class="mt-5">
      <v-row>
        <v-col cols="12" sm="5">
          <p>เลขบัตรประชาชน : 1594782360258</p>
        </v-col>
        <v-col cols="12" sm="5">
          <p>ชื่อ-นามสกุล : อริสา ทาทองคำ</p>
        </v-col>
        <v-col cols="12" sm="5"><p>อายุ : 22 ปี</p></v-col>
        <v-col cols="12" sm="5"> <p>เบอร์โทรศัพท์ : 0874512369</p></v-col>
        <v-col cols="12" sm="5"><p>โรคประจำตัว : -</p></v-col>
        <v-col cols="12" sm="5"><p>การแพ้ยา : -</p></v-col>
      </v-row>

      <v-row class="mt-5">
        <v-col>
          <v-table style="height: 300px; height: 40vh; overflow: auto" fluid fixed-header>
            <thead style="background-color: #7991b6">
              <tr align="center" justify="center">
                <td>ลำดับ</td>
                <!-- <td>วันที่และเวลา</td> -->
                <td>ประเภทการรักษา</td>
                <td>บริการ</td>
                <td>ตำแหน่งฟัน</td>
                <td>จำนวน</td>
                <td>ราคา</td>
              </tr>
            </thead>
            <tbody>
              <tr
                align="center"
                justify="center"
                v-for="treatmentdetail of treatmentdetailStore.treatmentdetails"
                :key="treatmentdetail.treatment_detail_id"
              >
                <td>{{ treatmentdetail.treatment_detail_id }}</td>
                <td>{{ treatmentdetail.treatment_detail_type }}</td>
                <td>{{ treatmentdetail.treatment_detail_typedetail }}</td>
                <td>{{ treatmentdetail.treatment_detail_toothPosition }}</td>
                <td>{{ treatmentdetail.treatment_detail_qty }}</td>
                <td>{{ treatmentdetail.treatment_detail_price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-row>

    <v-row class="d-flex justify-end">
      <v-col cols="12" sm="2">
        <v-btn
          style="background-color: #8ea690; font-size: 18px"
          to="/docTreating"
          class="ma-5 ml-3 font-weight-bold"
          block
          >เสร็จสิ้น</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

th {
  background-color: #000000;
  color: white;
}
</style>
