<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useMedicineStore } from '@/stores/medicine'
import { useTreatmentStore } from '@/stores/treatment'
const medicineStore = useMedicineStore()
const dialog = ref(false)
const treatmentStore = useTreatmentStore()
onMounted(async () => {
  await medicineStore.getMedicines()
})
</script>

<template>
  <v-dialog v-model="dialog" persistent width="1200">
    <template v-slot:activator="{ props }">
      <v-btn color="#3D5EA5" v-bind="props" dialog.value="true" class="ma-5"> จ่ายยา </v-btn>
    </template>
    <v-card>
      <v-toolbar color="#3D5EA5" title="การจ่ายยา"></v-toolbar>
      <v-card-text>
        <v-container>
          <v-row>
            <v-sheet>
              <v-col>
                <v-table style="width: 75vh; height: 50vh; font-size: 12px" fluid fixed-header>
                  <thead style="background-color: #7991b6" class="font-weight-bold">
                    <tr>
                      <td>รหัส</td>
                      <td>ชื่อ</td>
                      <td>ราคา</td>
                      <td>หน่วย</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody v-for="item of medicineStore.medicines" :key="item.medicine_id">
                    <tr>
                      <td align="center" justify="center">{{ item.medicine_id }}</td>
                      <td>{{ item.medicine_name }}</td>
                      <td align="center" justify="center">{{ item.medicine_sell }}</td>
                      <td align="center" justify="center">{{ item.medicine_medicineType }}</td>
                      <td>
                        <v-btn
                          icon="mdi-plus-box-outline"
                          variant="text"
                          @click="treatmentStore.addDispense(item)"
                        ></v-btn>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-sheet>
            <v-sheet>
              <v-col>
                <v-table
                  style="width: 75vh; height: 50vh; font-size: 12px; overflow: auto"
                  fixed-header
                >
                  <thead style="background-color: #efa5ba" class="font-weight-bold">
                    <tr>
                      <td>ชื่อ</td>
                      <td>จำนวน</td>
                      <td>ราคา</td>
                      <td>หน่วย</td>
                      <td>รวม</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item of treatmentStore.selectDispense" :key="item.id">
                      <td>{{ item.name }}</td>
                      <td>{{ item.qty }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.unit }}</td>
                      <td>{{ item.sumPrice }}</td>
                      <td>
                        <v-btn
                          icon="mdi-trash-can-outline"
                          variant="text"
                          color="red"
                          @click="treatmentStore.deleteDispenseList(item)"
                        ></v-btn>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-sheet>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="#efa5ba" variant="flat" @click="dialog = false"> ยกเลิก </v-btn>
        <v-btn color="#8EA690" variant="flat" @click="dialog = false"> จ่ายยา </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
