<script setup lang="ts">
import { usePatientStore } from '@/stores/patient'
import { watch } from 'vue'
import { onMounted, ref } from 'vue'

const patientStore = usePatientStore()
const search = ref('')

onMounted(async () => {
  await patientStore.getPatients()
})

watch(search, async () => {
  await patientStore.getPatient(search.value)
})
const searchPatients = async () => {
  await patientStore.getPatient(search.value)
}
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">ข้อมูลคนไข้</h2>
    </v-app-bar-title>
  </v-app-bar>

  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12" sm="4">
          <v-text-field
            v-model="search"
            class="mt-3"
            density="compact"
            variant="solo"
            label="Search"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4">
          <v-btn class="mt-4 ma-3" color="#3E5EA3" @click="searchPatients"> ค้นหา </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
  <v-row>
    <v-col>
      <v-table style="width: 200vh; height: 72vh; overflow: auto" fluid fixed-header>
        <thead style="background-color: #b6add7">
          <tr align="center" justify="center" style="font-size: 12px" class="font-weight-bold">
            <td>ลำดับ</td>
            <td>เลขบัตรประจำตัวประชาชน</td>
            <td>ชื่อ-นามสกุล</td>
            <td>วัน/เดือน/ปีเกิด</td>
            <td>เบอร์โทรศัพท์</td>
            <td>อายุ</td>
            <td>เพศ</td>
            <td>ที่อยู่</td>
            <td>ประวัติการแพ้ยา</td>
            <td>โรคประจำตัว</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr
            align="center"
            justify="center"
            style="font-size: 11px"
            v-for="item of patientStore.patients"
            :key="item.patien_id"
          >
            <td>{{ item.patien_id }}</td>
            <td>{{ item.patien_cardnumber }}</td>
            <td>{{ item.patien_name }} {{ item.patien_surname }}</td>
            <td>{{ item.patien_birth }}</td>
            <td>{{ item.patien_phonenumber }}</td>
            <td>{{ item.patien_age }}</td>
            <td>{{ item.patien_gender }}</td>
            <td>{{ item.patien_address }}</td>
            <td>{{ item.patien_drugAllergy }}</td>
            <td>{{ item.patien_congenitalDisease }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
</template>
