<script setup lang="ts">
import { ref } from 'vue'
import { usePatientStore } from '@/stores/patient'
import { useTreatmentStore } from '@/stores/treatment'
import { onMounted } from 'vue'
// import type Patient from '@/types/Patient'

const dialog = ref(false)
const treatmentStore = useTreatmentStore()
const patientStore = usePatientStore()

onMounted(async () => {
  await patientStore.getPatients()
  patientStore.getPatients()
})
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="6">
        <v-combobox
          clearable
          label="รายชื่อผู้ป่วย"
          :items="patientStore.patients.map((item) => item.patien_name + ' ' + item.patien_surname)"
          variant="solo"
          :v-model="treatmentStore.editPatient"
        ></v-combobox>
      </v-col>
      <v-col v-for="item of treatmentStore.PatientList"
              :key="item.patien_id"><div>ชื่อ {{ item.patien_name }}</div></v-col>
    </v-row>
  </v-container>
  <!-- <v-container>
          <div>id :</div>
          <div>ชื่อ-นามสกุล :</div>
          <div>เลขบัตรประจำตัวประชาชน :</div>
          <div>ประวัติการแพ้ยา :</div>
          <div>โรคประจำตัว :</div>
        </v-container> -->
</template>
