<script setup lang="ts">
import { onMounted } from 'vue'
import { useTreatingStore } from '@/stores/treating'
import router from '@/router' // เปลี่ยนการนำเข้าจาก 'vue-router' เป็น '@/router'

const treatingStore = useTreatingStore()

onMounted(async () => {
  await treatingStore.getTreatings()
})

const showDetail = (itemId: number) => {
  // ส่ง itemId ผ่าน URL parameter ไปยังหน้า '/docDetailTreatment'
  router.push({ name: 'docDetailTreatment', params: { id: itemId } })
}
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">ประวัติการรักษา</h2>
    </v-app-bar-title>
  </v-app-bar>
  <v-container>
    <v-row>
      <v-col cols="12" sm="4">
        <v-text-field
          class="mt-3"
          density="compact"
          variant="solo"
          label="Search"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
        <v-btn class="mt-4" color="#3E5EA3"> ค้นหา </v-btn>
      </v-col>
    </v-row>
  </v-container>
  <v-row>
    <v-col>
      <v-table style="height: 65vh; overflow: auto" fluid>
        <thead style="background-color: #efa5ba">
          <tr align="center" justify="center">
            <td>ลำดับ</td>
            <td>วันที่และเวลา</td>
            <td>ชื่อ-นามสกุล</td>
            <td>แพทย์ผู้รับผิดชอบ</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr
            align="center"
            justify="center"
            v-for="(item, index) of treatingStore.treatings"
            :key="index"
          >
            <td>{{ item.his_id }}</td>
            <td>{{ item.his_date }}</td>
            <td>{{ item.his_patien }}</td>
            <td>{{ item.his_doctor }}</td>
            <td>
              <!-- ปุ่มที่ส่ง itemId ผ่าน URL parameter ไปยังหน้า '/docDetailTreatment' -->
              <v-btn
                prepend-icon="mdi-file-search-outline"
                color="#E8D595"
                to="/docDetailTreatment"
                @click="showDetail(item.his_id)"
              >
                รายละเอียด
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
  <v-footer>
    <v-row>
      <v-col offset="10" style="justify-content: end">
        <v-btn prepend-icon="mdi-medical-bag" color="#F58A97" class="ma-3" to="/docTreatment"
          >การรักษา</v-btn
        >
      </v-col>
    </v-row>
  </v-footer>
</template>
