<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useTreatmentStore } from '@/stores/treatment'
import SelectPatientDialog from './SelectPatientDialog.vue'
import DispenseDialog from './DispenseDialog.vue'
import { useTypeDetailStore } from '@/stores/typedetail'
const treatmentStore = useTreatmentStore()
const typedetailStore = useTypeDetailStore()
const num1 = ref(2)
const num2 = ref(2)

onMounted(async () => {
  await typedetailStore.getTypeDetails()
})

// const props = defineProps<{
//   typedetail: TypeDetail
// }>()

// const emit = defineEmits<{
//   selectedTypeDetail: [TypeDetail]
// }>()

// const selected = function () {
//   console.log(props.typedetail)
//   emit('selectedTypeDetail', props.typedetail)
// }
</script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">การรักษา</h2>
    </v-app-bar-title>
  </v-app-bar>
  <v-row>
    <v-col cols="12" sm="9">
      <SelectPatientDialog />
    </v-col>
    <v-col cols="12" sm="3">
      <h3 class="ma-5">11-01-2024 12:00</h3>
    </v-col>
  </v-row>

  <v-container style="background-color: #000; height: 70vh" fluid>
    <!-- <v-row v-for="(item, i) in num1" :key="i" :value="item">
        <v-col v-for="(item, i) in num2" :key="i" :value="item">
          <v-btn variant="text">
            <v-icon size="40px" color="white">mdi-tooth-outline</v-icon>
          </v-btn>
        </v-col>
      </v-row> -->
    <v-row>
      <v-col cols="1" v-for="(item, i) of treatmentStore.Tooth" :key="i">
        <v-btn variant="text" color="white" @click="treatmentStore.selectToothPosition(item)">
          <v-icon size="40px" color="white">mdi-tooth-outline</v-icon>
          {{ item.name }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3">
        <v-text-field
          density="compact"
          variant="solo"
          label="ค้นหา"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
      <v-col>
        <v-btn class="ma-1">ทั้งหมด</v-btn>
        <v-btn class="ma-1">ตรวจวิเคราะห์</v-btn>
        <v-btn class="ma-1">จัดฟัน</v-btn>
        <v-btn class="ma-1">ฟันสำหรับเด็ก</v-btn>
        <v-btn class="ma-1">ศัลยกรรมช่องปาก</v-btn>
        <v-btn class="ma-1">หัตถการ</v-btn>
        <v-btn class="ma-1">ฟันประดิษฐ์</v-btn>
        <v-btn class="ma-1">อุดฟัน</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-table style="width: 200vh; height: 30vh; overflow: auto" fluid fixed-header>
          <thead style="background-color: #7991b6" class="font-weight-bold">
            <tr align="center" justify="center">
              <td>ลำดับ</td>
              <td>ประเภท</td>
              <td>บริการ</td>
              <td>หน่วย</td>
              <td>ราคา</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr
              align="center"
              justify="center"
              v-for="item of typedetailStore.typedetails"
              :key="item.typeDetail_id"
            >
              <td>{{ item.typeDetail_id }}</td>
              <td>{{ item.treatmentType.treatmenttype_name }}</td>
              <td>{{ item.typeDetail_service }}</td>
              <td>{{ item.typeDetail_unitService }}</td>
              <td>{{ item.typeDetail_price }}</td>
              <td>
                <v-btn
                  icon="mdi-plus-box-outline"
                  variant="text"
                  @click="treatmentStore.addTypeDetail(item)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="12" sm="2">
        <h3>สรุปการรักษา</h3>
        <h3>และการจ่ายยา</h3>
        <DispenseDialog />
      </v-col>
      <v-col cols="12" sm="5">
        <v-table style="width: 70vh; height: 20vh; overflow: auto" fluid fixed-header>
          <thead style="background-color: #efa5ba; font-size: 11px" class="font-weight-bold">
            <tr align="center" justify="center">
              <td>ลำดับ</td>
              <td>บริการ</td>
              <td>ตำแหน่งฟัน</td>
              <td>จำนวน</td>
              <td>ราคา</td>
              <td></td>
            </tr>
          </thead>
          <tbody style="font-size: 11px">
            <tr
              align="center"
              justify="center"
              v-for="item of treatmentStore.TreatmentTypeList"
              :key="item.id"
            >
              <td>{{ item.num }}</td>
              <td>{{ item.service }}</td>
              <td>{{ item.position }}</td>
              <td>
                {{ item.qty }}
              </td>
              <td>{{ item.price }}</td>
              <td>
                <v-btn
                  icon="mdi-trash-can-outline"
                  variant="text"
                  color="red"
                  @click="treatmentStore.deleteTreatmentTypeList(item)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
      <v-col>
        <v-table style="width: 60vh; height: 20vh" fluid fixed-header>
          <thead style="background-color: #7991b6">
            <tr align="center" justify="center" style="font-size: 11px" class="font-weight-bold">
              <td>รหัสยา</td>
              <td>ซื้อยา</td>
              <td>ราคา</td>
              <td>จำนวน</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr
              align="center"
              justify="center"
              style="font-size: 11px"
              v-for="item of treatmentStore.selectDispense"
              :key="item.id"
            >
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.qty }}</td>
              <td>
                  <v-btn 
                  icon="mdi-trash-can-outline" 
                  variant="text" 
                  color="red"
                  @click="treatmentStore.deleteDispenseList(item)"
                  ></v-btn>
                </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
      <v-col class="d-flex justify-end">
        <v-btn
          color="#efa5ba"
          class="ma-2"
          to="/docTreating"
          @click="treatmentStore.clearTreatmentTypeList()"
          >กลับ</v-btn
        >
        <v-btn color="#8EA690" class="ma-2">บันทึก</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
