<script setup lang="ts"></script>

<template>
  <v-app-bar :elevation="2" style="background-color: #7991b6">
    <v-app-bar-title>
      <h2 style="font-size: 25px; color: white">แผนการรักษา</h2>
    </v-app-bar-title>
  </v-app-bar>
  <v-container>
    <v-row>
      <v-col cols="12" sm="4">
        <v-text-field
          class="mt-3"
          density="compact"
          variant="solo"
          label="Search"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
      <v-col v-col cols="12" sm="3">
        <v-btn class="mt-4" color="#3E5EA3"> ค้นหา </v-btn>
      </v-col>
      <v-col v-col cols="12" sm="5">
        <v-btn prepend-icon="mdi mdi-file-search-outline" color="#E8D595" class="ma-4" to=""
          >ดูรายละเอียด</v-btn
        >
        <v-btn
          prepend-icon="mdi mdi-plus-circle-outline"
          color="#8EA690"
          class="ma-4"
          to="/docAddTreatmentplan"
          >เพิ่ม</v-btn
        >
        <v-btn prepend-icon="mdi mdi-square-edit-outline" color="#9AC7CE" class="ma-4" to=""
          >แก้ไข</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
  <v-row>
    <v-col>
      <v-table style="height: 65vh; overflow: auto" fluid>
        <thead style="background-color: #7991b6">
          <tr align="center" justify="center">
            <td>ลำดับ</td>
            <td>วันที่</td>
            <td>ชื่อ-นามสกุล</td>
            <td>ทันตแพทย์</td>
            <td>ยืนยันการรักษา</td>
            <td>สถานะ</td>
          </tr>
        </thead>
        <tbody>
          <tr align="center" justify="center">
            <td>1</td>
            <td>01/01/2024</td>
            <td>นลินทิพย์ หอมคลฑา</td>
            <td>พญ.วราพร โคกศรี</td>
            <td>
              <v-btn color="#8EA690" class="ma-4" to="">ยืนยัน</v-btn
              ><v-btn color="#F58A97" class="ma-4" to="">ยกเลิก</v-btn>
            </td>
            <td><v-chip variant="flat" color="#E3C878">กำลังรักษา</v-chip></td>
          </tr>
        </tbody>
        <tbody>
          <tr align="center" justify="center">
            <td>2</td>
            <td>17/01/2024</td>
            <td>ชนัฐดา พระสว่าง</td>
            <td>พญ.วราพร โคกศรี</td>
            <td>
              <v-btn color="#8EA690" class="ma-4" to="">ยืนยัน</v-btn
              ><v-btn color="#F58A97" class="ma-4" to="">ยกเลิก</v-btn>
            </td>
            <td><v-chip variant="flat" color="#E3C878">กำลังรักษา</v-chip></td>
          </tr>
        </tbody>
        <tbody>
          <tr align="center" justify="center">
            <td>3</td>
            <td>24/01/2024</td>
            <td>อริสา ทาทองคำ</td>
            <td>พญ.วราพร โคกศรี</td>
            <td>
              <v-btn color="#8EA690" class="ma-4" to="">ยืนยัน</v-btn
              ><v-btn color="#F58A97" class="ma-4" to="">ยกเลิก</v-btn>
            </td>
            <td><v-chip variant="flat" color="#E3C878">กำลังรักษา</v-chip></td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
  <v-footer> </v-footer>
</template>
